{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "edge": 10
        },
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
       [
         "@babel/plugin-proposal-decorators",
          {
            "legacy": true
          }
       ],
       "@babel/plugin-proposal-class-properties",
       "@babel/plugin-proposal-object-rest-spread"
   ]
}
